.valores-content {
  height: auto;
  padding: 1em 0;
}
.container-card-values {
  width: 25rem;
  min-height: 15rem;
  overflow: hidden;
  padding: 1em 0;
  text-align: center;
  background: linear-gradient(-45deg, #060606, #a5c639, #a4c639, #060606);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  color: var(--color-text-secondary);
  &__img {
    margin: 0 auto;
    width: 4rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
