<section id="p-valores" class="container-fluid">
  <article class="row valores-content">
    <section class="col-12 h-100 d-flex flex-column align-items-center">
      <h2 class="fs-1 fw-bold mt-3">NUESTROS VALORES</h2>
      <div class="container h-100">
        <div class="row">
          <div class="col-12 d-flex justify-content-around">
            <div class="card container-card-values">
              <img
                src="../../../assets/mision.png"
                class="card-img-top container-card-values__img"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Mision</h5>
                <p class="card-text">
                  Somos una empresa de servicios en el área de telefonía móvil,
                  confiable, eficiente y ética; orientada a satisfacer las
                  necesidades y aspiraciones de nuestros clientes. Somos un
                  aporte positivo para la sociedad, generando empleo directo e
                  indirecto dentro de un buen ambiente de trabajo, pagando
                  impuestos y obteniendo un justo margen de utilidad.
                </p>
              </div>
            </div>
            <div class="card container-card-values">
              <img
                src="../../../assets/vision.png"
                class="card-img-top container-card-values__img"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Visión</h5>
                <p class="card-text">
                  Ser para el año 2023, líder en la comercialización de
                  productos y servicios en el sector de telefonía movil,
                  satisfaciendo las necesidades de nuestros clientes,
                  accionistas, capital humano y sociedad. Ser un referente en el
                  mercado de buen servicio al cliente, precio y calidad.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <div class="card container-card-values">
              <img
                src="../../../assets/objetivo.png"
                class="card-img-top container-card-values__img"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Objetivos</h5>
                <ul>
                  <li>
                    Innovación y mejora continua: Nos damos cuenta de la
                    importancia de mirar hacia el futuro, por tanto ofrecemos lo
                    último del mercado para dar un apoyo y servicio óptimo a
                    nuestros clientes.
                  </li>
                  <li>
                    Integridad y Ética: Promovemos un compromiso social y
                    cumplimos nuestra normativa interna.
                  </li>
                  <li>
                    Formación: Nos preocupamos de la formación continua en todos
                    los ámbitos
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="col-12 h-100 valores-container-rigth">
      <div class="container-card-valores">
        <div class="container-card-valores__container-img">
          <img class="container-card-valores__img" src="../../../assets/mision.png" alt="">
        </div>
        <div class="container-card-valores__container-text">
          <h4 class="container-card-valores__title">MISIÓN</h4>
          <p class="container-card-valores__descrption">Somos una empresa de servicios en el área de telefonía móvil, confiable, eficiente y ética; orientada a satisfacer las necesidades y aspiraciones de nuestros clientes. Somos un aporte positivo para la sociedad, generando empleo directo e indirecto dentro de un buen ambiente de trabajo, pagando impuestos y obteniendo un justo margen de utilidad.</p>
        </div>
      </div>
      <div class="container-card-valores">
        <div class="container-card-valores__container-img">
          <img class="container-card-valores__img" src="../../../assets/vision.png" alt="">
        </div>
        <div class="container-card-valores__container-text">
          <h4 class="container-card-valores__title">VISIÓN</h4>
          <p class="container-card-valores__descrption">Ser para el año 2023, líder en la comercialización de productos y servicios en el sector de telefonía movil, satisfaciendo las necesidades de  nuestros clientes, accionistas, capital humano y sociedad.
          Ser un  referente en el mercado de  buen servicio al cliente,  precio y calidad.</p>
        </div>
      </div>
      <div class="container-card-valores">
        <div class="container-card-valores__container-img">
          <img class="container-card-valores__img" src="../../../assets/objetivo.png" alt="">
        </div>
        <div class="container-card-valores__container-text">
          <h4 class="container-card-valores__title">OBJETIVOS</h4>
          <ul>
            <li>
              Innovación y mejora continua:
              Nos damos cuenta de la importancia de mirar hacia el futuro, por tanto ofrecemos lo último del mercado para dar un apoyo y servicio óptimo a nuestros clientes.
            </li>
            <li>
              Integridad y Ética:
              Promovemos un compromiso social y cumplimos nuestra normativa interna.
            </li>
            <li>
              Formación:
              Nos preocupamos de la formación continua en todos los ámbitos
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </article>
</section>
