<section id="p-valores" class="container-fluid container-main">
  <article class="row valores-content">
    <section class="col-12 h-100 d-flex flex-column align-items-center">
      <h2 class="fs-1 fw-bold mt-3">NUESTROS VALORES</h2>
      <div class="container-fluid h-100">
        <div class="row">
          <div class="col-12 d-flex justify-content-around">
            <div class="card container-card-values">
              <img
                src="../../../assets/mision.png"
                class="card-img-top container-card-values__img"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Mision</h5>
                <p class="card-text">
                  Somos una empresa de servicios en el área de telefonía móvil,
                  confiable, eficiente y ética; orientada a satisfacer las
                  necesidades y aspiraciones de nuestros clientes. Somos un
                  aporte positivo para la sociedad, generando empleo directo e
                  indirecto dentro de un buen ambiente de trabajo, pagando
                  impuestos y obteniendo un justo margen de utilidad.
                </p>
              </div>
            </div>
            <div class="card container-card-values">
              <img
                src="../../../assets/vision.png"
                class="card-img-top container-card-values__img"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Visión</h5>
                <p class="card-text">
                  Ser para el año 2023, líder en la comercialización de
                  productos y servicios en el sector de telefonía movil,
                  satisfaciendo las necesidades de nuestros clientes,
                  accionistas, capital humano y sociedad. Ser un referente en el
                  mercado de buen servicio al cliente, precio y calidad.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <div class="card container-card-values">
              <img
                src="../../../assets/objetivo.png"
                class="card-img-top container-card-values__img"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Objetivos</h5>
                <ul>
                  <li>
                    Innovación y mejora continua: Nos damos cuenta de la
                    importancia de mirar hacia el futuro, por tanto ofrecemos lo
                    último del mercado para dar un apoyo y servicio óptimo a
                    nuestros clientes.
                  </li>
                  <li>
                    Integridad y Ética: Promovemos un compromiso social y
                    cumplimos nuestra normativa interna.
                  </li>
                  <li>
                    Formación: Nos preocupamos de la formación continua en todos
                    los ámbitos
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
  <svg
    class="efecto-ola"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
      
    <path
      fill="#e0e0e088"
      fill-opacity="1"
      d="M0,192L30,202.7C60,213,120,235,180,229.3C240,224,300,192,360,170.7C420,149,480,139,540,133.3C600,128,660,128,720,128C780,128,840,128,900,106.7C960,85,1020,43,1080,53.3C1140,64,1200,128,1260,165.3C1320,203,1380,213,1410,218.7L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
    ></path>
  </svg>
</section>
