.bg-container-hero {
  background-color: #423f3e;
}
.bg-container-information-hero {
  background: linear-gradient(-45deg, #060606, #a4c639, #a4c639, #060606);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
