<section id="p-home" class="container-fluid scroll-m-top">
  <article class="row home-content">
    <div class="col-12 home-content__main">
      <h2 class="home-content__title-main">Reparación de Celulares Android</h2>
      <h3 class="home-content__subtitle">
        COTIZA en línea y obtén el PRECIO de tu reparación, Más información
      </h3>
      <h3 class="home-content__number-phone">
        <a class="home-content__number-phone--link" href="#">9971018054</a>
      </h3>
      <button class="home-content__btn-cot">COTIZAR AHORA</button>
    </div>
  </article>
</section>
