<div class="card container-card-values">
  <img
    src="../../../assets/mision.png"
    class="card-img-top container-card-values__img"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Mision</h5>
    <p class="card-text">
      Somos una empresa de servicios en el área de telefonía móvil, confiable,
      eficiente y ética; orientada a satisfacer las necesidades y aspiraciones
      de nuestros clientes. Somos un aporte positivo para la sociedad, generando
      empleo directo e indirecto dentro de un buen ambiente de trabajo, pagando
      impuestos y obteniendo un justo margen de utilidad.
    </p>
  </div>
</div>
