<nav
  class="bg-navbar-menu static-navbar-menu navbar navbar-expand-lg bg-body-tertiary"
>
  <div class="container-fluid container-navbar-menu">
    <div class="row">
      <section class="col-6">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <article class="container-logo">
          <img
            class="container-logo__logo"
            src="../../../assets/Reparaciones.png"
            alt="Reparaciones-logo"
          />
        </article>
      </section>
      <section class="col-6 d-flex">
        <div
          class="collapse navbar-collapse container-list"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-menu">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#p-home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#p-valores">Valores</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#p-cotizaciones"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cotizaciones
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Samsung</a></li>
                <li><a class="dropdown-item" href="#">Xiaomi</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Huawei</a></li>
                <li><a class="dropdown-item" href="#">Motorola</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#p-contacto">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#p-comentarios">Comentarios</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</nav>
