<section id="p-cotizaciones" class="container-fluid container-cotizaciones">
  <article class="row mb-3">
    <div class="col-12 d-flex justify-content-center">
      <h2 class="mt-4 fs-1 fw-bold">¿QUÉ MARCAS REPARAMOS?</h2>
    </div>
  </article>
  <article class="row">
    <div class="col-3">
      <div class="card-brand border">
        <div class="card-brand__container-img">
          <img
            src="../../../assets/icons - cotizaciones/samsung.png"
            alt=""
            class="card-brand__img"
          />
        </div>
        <h4 class="fw-bold">Samsung</h4>
        <button class="btn card-brand__btn">Cotizar</button>
      </div>
    </div>
    <div class="col-3">
      <div class="card-brand border">
        <div class="card-brand__container-img">
          <img
            src="../../../assets/icons - cotizaciones/motorola.png"
            alt=""
            class="card-brand__img"
          />
        </div>
        <h4 class="fw-bold">Motorola</h4>
        <button class="btn card-brand__btn">Cotizar</button>
      </div>
    </div>
    <div class="col-3">
      <div class="card-brand border">
        <div class="card-brand__container-img">
          <img
            src="../../../assets/icons - cotizaciones/huawei.png"
            alt=""
            class="card-brand__img"
          />
        </div>
        <h4 class="fw-bold">Huawei</h4>
        <button class="btn card-brand__btn">Cotizar</button>
      </div>
    </div>
    <div class="col-3">
      <div class="card-brand border">
        <div class="card-brand__container-img">
          <img
            src="../../../assets/icons - cotizaciones/xiaomi.png"
            alt=""
            class="card-brand__img"
          />
        </div>
        <h4 class="fw-bold">Xiaomi</h4>
        <button class="btn card-brand__btn">Cotizar</button>
      </div>
    </div>
  </article>
</section>
